<div>
  <hr>
  <app-doughnut-example></app-doughnut-example>
  <hr>
  <app-dynamic-doughnut-example></app-dynamic-doughnut-example>
  <hr>
  <app-pie-example></app-pie-example>
  <hr>
  <app-line-example></app-line-example>
  <hr>
  <app-bar-example></app-bar-example>
  <hr>
  <app-horizontal-bar-example></app-horizontal-bar-example>
  <hr>
  <app-radar-example></app-radar-example>
  <hr>
  <app-polar-example></app-polar-example>
  <hr>
  <app-bubble-example></app-bubble-example>
  <hr>
  <app-scatter-example></app-scatter-example>
  <hr>
  <app-mixed-data-example></app-mixed-data-example>
  <hr>
  <app-randomized-data-line-example></app-randomized-data-line-example>
  <hr>
  <app-crazy-data-line-example></app-crazy-data-line-example>
  <hr>
  <app-legend-options-example></app-legend-options-example>
  <hr>
  <app-legend-handlers-example></app-legend-handlers-example>
</div>
