@import url('https://fonts.googleapis.com/css?family=Nunito');

/*
// Examples Stylesheet
// -------------------
*/

body {
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
	color: #333;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding: 2em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h3, h3, h4, h5, h6 {
	color: #222;
	margin: 0.5em 0;
  font-weight: 300;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}
